{% extends 'base.html' %}
{% load tags %}
{% block content %}
{% load static %}

<style>
    .small-text {
        font-size: small;
    }
</style>

<div class="container col-8">
    <div >
        {% for element in reviewAndTicket2 %}
            {% if element|model_type == 'Ticket'%}
            <div class='border mt-3 mb-3 border-warning rounded' >
                <div class='justify-content-center mx-2'>
                    <div class='row '>
                        <div class='d-flex justify-content-between '>
                            {% if element.user == request.user %}
                            <div class='d-flex align-items-center'>
                                Vous avez publié un ticket
                            </div>
                            <div>
                                {{ element.time_created }}
                            </div>
                            {% else %}
                            <div class='d-flex align-items-center'>
                                {% if not element.user.profile_photo %} 
                                <img src="{% static 'img/user.png' %}" style="max-width: 15px; height: auto;" alt="Image"> 
                                {% endif %} -
                                {{ element.user }}
                            </div>
                            <div>
                                {{ element.time_created }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {{element.title}}
                    </div>
                    <div class="p-2" > 
                        <p class='small-text'>{{ element.description }} </p>
                    </div>
                    <div >
                        {% if element.image %}
                            <img src="{{element.image.url}}" style="max-width: 150px; height: auto;" class="mx-auto d-block " alt="etoile 5">
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                {% if not element.review_set.all %}

                {% else %}
                    <p class='small-text mx-4 mb-4'> Une critique à déjà été rédigée </p>
                {% endif %}
                <div class="d-flex justify-content-end">
                    {% if element.user == request.user %}
                        <a href="{% url 'ticketmodify' element.id %}" class="btn btn-sm btn-outline-warning mx-4 mb-4">Modifier le ticket</a>
                    {% endif %}
                    {% if element.user == request.user %}
                        <a href="{% url 'ticketdelete' element.id %}" class="btn btn-sm btn-outline-danger mx-4 mb-4">Supprimer le ticket</a>
                    {% endif %}
                </div>
            </div>
            </div>
            {% endif %}
            {% if element|model_type == 'Review'%}
            <div class='border mb-3 mt-3 border-warning rounded '>
                <div class='justify-content-center mx-2'>
                    <div class='row '>
                        <div class='d-flex justify-content-between '>
                            {% if element.user == request.user %}
                            <div class='d-flex align-items-center'>
                                Vous avez publié une critique
                            </div>
                            <div>
                                {{ element.time_created }}
                            </div>
                            {% else %}
                            <div class='d-flex align-items-center'>
                                {% if not element.user.profile_photo %} 
                                <img src="{% static 'img/user.png' %}" style="max-width: 15px; height: auto;" alt="Image"> 
                                {% endif %} -
                                {{ element.user }}
                            </div>
                            <div>
                                {{ element.time_created }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class='row mt-2 mx-4'>
                        <div class='d-flex align-items-center'>
                            <div>
                                {{ element.headline }}  - 
                            </div>    
                            <div class='mx-2 col-2'>
                                {% if element.rating == 5 %}
                                <div class='row '>
                                    <div class='d-flex '>
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div>  
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                    </div> 
                                </div> 
                                {% endif %}
                                {% if element.rating == 4 %}
                                <div class='row '>
                                    <div class='d-flex '>
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div>  
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                    </div> 
                                </div> 
                                {% endif %}
                                {% if element.rating == 3 %}
                                <div class='row '>
                                    <div class='d-flex '>
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div>  
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                    </div> 
                                </div> 
                                {% endif %}
                                {% if element.rating == 2 %}
                                <div class='row '>
                                    <div class='d-flex '>
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div>  
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                    </div> 
                                </div> 
                                {% endif %}
                                {% if element.rating == 1 %}
                                <div class='row '>
                                    <div class='d-flex '>
                                        <div>   
                                            <img src="{% static 'img/star.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div>  
                                        <div>   
                                            <img src="{% static 'img/star1.png' %}" class="w-50" alt="Image">
                                        </div> 
                                    </div> 
                                </div> 
                                {% endif %}
                            </div>  
                        </div>
                    </div>
                    <div class="p-2" > 
                        <p class='small-text'>{{ element.body }} </p>
                    </div>
                    <div class='row'>
                            <div class="d-flex justify-content-end">
                                {% if element.user == request.user %}
                                    <a href="{% url 'reviewmodify' element.id %}" class="btn btn-sm btn-outline-warning mx-4 mb-4">Modifier la revue</a>
                                {% endif %}
                                {% if element.user == request.user %}
                                    <a href="{% url 'reviewdelete' element.id %}" class="btn btn-sm btn-outline-danger mx-4 mb-4">Supprimer la revue</a>
                                {% endif %}
                        </div>
                    </div>
                    <div class=' boxin border mt-4 mx-4 mb-4' >     
                        <div>
                            {% if element.ticket.user == request.user %}
                            <p class='mx-2'>Ticket - Vous </p>
                            {% else %}
                            <p class='mx-2'>Ticket - {% if not element.user.profile_photo %} 
                                <img src="{% static 'img/user.png' %}" style="max-width: 15px; height: auto;" alt="Image"> 
                                {% endif %} {{element.ticket.user}}</p>
                            {% endif %}
                        </div>
                        <div class='mx-4 mb-2'>
                            {{element.ticket.title}}
                        </div>
                        <div class='mx-4 mb-2'>
                            {% if element.ticket.image %}
                                <img src="{{element.ticket.image.url}}" style="max-width: 150px; height: auto;" class="mx-auto d-block " alt="etoile 5">
                            {% endif %}
                        </div>
                    </div>                      
                </div>
            </div>
            {% endif %}

        {% endfor %}
    </div>

</div>
{% endblock content %}